@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme{
  --font-vibes: "Great Vibes", cursive;
}
html, body, #root {
  font-family: 'Roboto', sans-serif;
}